<div class="container-fluid text-center" id="contenedor">
  <div >
    <!---Titulo y informacion sobre quien somos-->
    <div class="d-flex align-items-center justify-content-center m-auto p-3">
      <h1 class="text-center rounded-pill" id="titulo" >¡Proyecto Puppit!</h1>
    </div>
    
    <p class="lead text-justify rounded " id="texto" >
        Somos una organizacion proctectora de animales sin fines de lucro que tiene como 
        objetivo salvar vidas a los animales maltratados y/o abandonados. Una organización 
        totalmente independiente que no recibe subvenciones de organismos oficiales, empresas ni 
        partidos políticos.
        Contamos con un centro veterinario abierto al público, que destina sus ingresos íntegramente 
        al cuidado de los animales abandonados.
    </p>
  </div>
   

    <div class="p-3">

      <div class="">
        <img src="./assets/img/slider1.jpg" class="d-block w-100" alt="..." >
      </div>
    </div>
</div>
