<div class="container-fluid" id="contenedor">

    <div class="row p-3">
        <div class="col-2 d-flex flex-column">
            <div class="mb-auto p-2">
                <button type="button" class="btn btn-success rounded-circle" routerLink="/p-app-components-listado-mascota">Volver</button>
            </div>
        </div>

        <div class="col-sm-12 col-md-10 col-lg-10 d-flex flex-column">

            <div id="seleccion" class="col-sm-10 col-md-10 col-lg-10 rounded-pill d-flex align-items-center justify-content-center">
                <h1 class="text-center rounded-pill">REQUISITOS DE ADOPCION DE ONGANIZACION {{ong}}</h1>
            </div>

            <br>

            <div class="col-12 container" >
                <div class="alert bg-info mb-5 py-4" role="alert">
                   <div class="d-flex">
                      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle">
                         <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                         <polyline points="22 4 12 14.01 9 11.01"></polyline>
                      </svg>
                        <div class="px-3">
                            <h5 class="alert-heading">Si ya lo decidiste y te sentís capacitado es momento de comenzar con el proceso de adopción.</h5>
                            <p>{{terminos}}</p>
                            <a routerLink="/p-app-components-listado-mascota" class="btn text-white" data-dismiss="alert" aria-label="Close" data-abc="true">Cancelar</a> 
                            <a routerLink="/p-app-components-formulario" class="btn btn-white mx-1" data-abc="true">
                                Continuar
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 16" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                    <polyline points="12 5 19 12 12 19"></polyline>
                                </svg>
                            </a> 
                        </div>
                   </div>
                </div>
             </div>

        </div>
    </div>

    

</div>

