/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

#footer {
   
    background:#A10035 !important;
}

#footer i {
    font-size: 30px;
    color: #ffffff;
    
}

#texto{
    font-size: 20px;
    color: #ffffff;
    font-family: 'Patrick Hand', cursive;
}
