<div class="d-flex flex-column ">
<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><i class="fa fa-facebook"></i></li>
                    <li class="list-inline-item"><i class="fa fa-twitter"></i></li>
                    <li class="list-inline-item"><i class="fa fa-instagram"></i></li>
                    <li class="list-inline-item"><i class="fa fa-google-plus"></i></li>
                    <li class="list-inline-item"><i class="fa fa-envelope"></i></li>
                </ul>
            </div>
            <hr>
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 text-center text-white">
            
                <p id="texto">© 2022, Todos los derechos reservados.</p>
            </div>
            <hr>
        </div>	
    </div>
</section>
<!-- ./Footer -->
</div>