@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


#contenedor{
    padding-bottom: 30px;
    background-color: #FCF8E8;
}

#seleccion{
    background-color: #DFDFDE!important;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
}