<div class="container-fluid" id="contenedor">

  <div class="row p-3">

    <div class="col-2 d-flex flex-column">
      <div class="mb-auto p-2">
        <button type="button" class="btn btn-success rounded-circle" routerLink="/p-app-components-listado-mascota">Volver</button>
      </div>
    </div>

    <div class="col-sm-10 col-md-10 col-lg-5 d-flex justify-content-center align-items-start">
      <div class="card" style="width: 25rem;">
        <h5 class="card-title p-2 text-center">¡Mi nombre es {{nombre}}!</h5>
        <img src={{img}} class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-center"> A cerca de mi: {{descripcion}} </p>
          <div class="d-flex justify-content-between">
            <div>
              <p class="card-text"> Raza: {{raza}} </p>
              <p class="card-text"> Color: {{color}} </p>
              <p class="card-text"> Meses: {{edad_actual}}</p>
              <!-- <p class="card-text">Nacimiento: {{ nacimiento | date:"dd/MM/yyyy" }} </p> -->
            </div>
            <div>
              <p class="card-text"> Tamaño: {{tamanio}}</p>
              <p class="card-text"> Peso: {{peso}} kl</p>
              <p class="card-text"> Sexo: {{sexo}}</p>
            </div>
          </div>       
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-3 d-flex justify-content-center align-items-start">
      <div class="card mb-5" style="max-width: 18rem;">
        <div class="card-header">
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
          </svg>
          
          <div class="text-center">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" (click)="contacto()">
              Pregunta por mi!
            </button>
          </div>
                                
        </div> 

        <div class="card-body">
          <h5 class="card-title">Proceso de adopcion</h5>
          <p class="card-text ">1- Enviar solicitud</p>
          <p class="card-text">2- Entrevista</p>
          <p class="card-text">3- Comprobacion de la casa</p>
          <div class="text-center">
            <button type="button" class="btn btn-outline-success me-md-2 rounded-pill  "  routerLink="/p-app-components-requisitos/{{id_ong}}">¡ADOPTAR!</button>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
