<div class="container-fluid" id="contenedor">
  <br>
    <div class="row p-3" >

      <div class="col-10 text-center container-fluid justify-content-center align-items-center">

        <div>
          <h2 id="subtitulo" class="rounded">Tu aporte nos permite continuar llevando a cabo actividades sanitarias, educativas y de asistencialismo.</h2>
          <p id="texto" class="rounded">Los aportes económicos son importantes para pagar tratamientos, estudios médicos y honorarios veterinarios, comprar insumos y 
            alimento, financiar campañas de castración en zonas carenciadas, imprimir material de difusión entre otros.
          </p>
        </div>

        <div id="texto" class="col-sm-12 col-md-12 col-lg-4 d-flex align-items-center justify-content-center m-auto rounded-pill border-radius-sm " data-aos="zoom-in" data-aos-delay="200">
          <p class="p-3">Elija a que ONG quiere donar</p>
          <select id="ong" name="ong" class="form-select" aria-label="Default select example" [(ngModel)]="ong" (ngModelChange)="filtrar()"> 
            <option *ngFor="let item of arrayOngs" value={{item.id}} selected>{{item.nombre}} </option>
          </select>
        </div>
        
        <br>
        
        <div class="card col-lg-4 align-items-center justify-content-center position-relative m-auto" style="width: 18rem;">
          <img src="https://static.vecteezy.com/system/resources/previews/002/285/879/non_2x/dog-puppy-holding-bone-cartoon-logo-design-vector.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{nombreONG}} agredece su donación</h5>
            <p class="card-text">Ya hemos dado en adopción {{cantidad}} mascotas felices.</p>
            <div class="text-center">
              <a href={{link}} type="button" class="btn btn-outline-success me-md-2 rounded-pill ">DONAR</a>
            </div>
          </div>
        </div>
      </div> 
    </div>
</div>
