<div class="container-fluid" id="contenedor">
    <div class="row p-3">
        <div class="col-2 d-flex flex-column">
            <div class="mb-auto p-2">
                <button type="button" class="btn btn-success rounded-circle" routerLink="/p-app-components-listado-mascota">Volver</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4 p-3 ">

            <div class="container rounded-3 border border-5 " style="padding: 20px 50px;" id="seleccion">
                <h2 id="texto">Solicitud de Adopcion</h2>
                    
                <div class="body">
                    
                    <form  (ngSubmit)="enviar()">
                        <div class="p-2">
                            <div class="form-group ">
                                <label id="texto" for="apellido" class="col-md-2 control-label">Apellido</label>
                                <input type="text" class="form-control" name="apellido" [(ngModel)]="apellido">
                            </div>
                            
                            <div class="form-group">
                                <label id="texto" for="nombre" class="col-md-2 control-label">Nombre</label>
                                <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre">
                            </div>
    
                            <div class="form-group">
                                <label id="texto" for="dni" class="col-md-2 control-label">DNI</label>
                                <input type="text" class="form-control" name="dni" [(ngModel)]="dni">
                            </div>
    
                            <div class="form-group">
                                <label  id="texto" for="codigo_Postal"><i class="col-md-2 control-label"></i>Codigo Postal</label>
                                <input type="text" class="form-control" name="codigo_postal" [(ngModel)]="codigo_postal">
                            </div>
    
                            <div class="form-group">
                                <label id="texto" for="direccion" class="col-md-2 control-label">Direccion</label>
                                <input type="text" class="form-control" name="direccion" [(ngModel)]="direccion">
                            </div>
    
                            <div class="form-group">
                                <label id="texto" for="email" class="col-md-2 control-label">email</label>
                                <input type="text" class="form-control" name="email" [(ngModel)]="email">
                            </div>
    
                            <div class="form-group">
                                <label id="texto" for="celular" class="col-md-2 control-label">Celular</label>
                                <input type="text" class="form-control" name="celular" [(ngModel)]="celular">
                            </div>
    
                            <div class="form-group">
                                <label id="texto" for="nacimiento"><i class="col-md-2 control-label"></i>Fecha de Nacimiento</label>
                                <input type="date" class="form-control" name="fechaNacimiento" [(ngModel)]="fechaNacimiento">
                            </div>
    
                            <div class="form-group">
                                <label id="texto" for="sexo"><i class="col-md-2 control-label"></i>Sexo</label>
                                <select class="form-select" aria-label="Default select example" name="sexo" [(ngModel)]="sexo">
                                  <option value="H">Hombre</option>
                                  <option value="M">Mujer</option>
                                </select>
                            </div>
    
                            <div class="form-group p-2">
                                
                                <div class="form-check">
                                    <label id="texto" for="terminos"><i class="col-md-2 control-label"></i>Acepto los Terminos y Condiciones</label>
                                    <input class="form-check-input" type="checkbox"  name="acepta" [(ngModel)]="acepta"/>
                                </div>
                                
                                <div class="text-center">
                                    <br>
                                    <button type="submit" class="btn btn-outline-success me-md-2 rounded-pill align-items-center ">Enviar</button>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div> 
        </div>
    </div>

</div>
