@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

#header {
    padding-top: 10px;
    background:#A10035!important;
}

#imagen{
    position: absolute;
    width: 100px;
    top: 0;
    left: 0;
    right: 1500px;
    bottom: 5;
    margin: auto;
 }

#texto{
    color: #ffffff;
    text-align: right;
    text-decoration: none;
    background-color: transparent;
    padding-left: 10px;
    padding-bottom: 6px;
    margin-bottom: 20px;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    
}
