<div class="d-flex flex-column ">
  <div class="col-xs-12 col-sm-12 col-md-12 ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light " id="header">
      <div class="centrador">
        <a class="navbar-brand" routerLink="/p-app-components-pantalla-principal"><img id="imagen" src="assets/img/logo.png" class="d-block" alt=""></a>
      </div>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav m-auto mb-2 mb-md-0">
          <li class="nav-item active ">
            <a  id="texto" class="nav-link" routerLink="/p-app-components-pantalla-principal">¿QUIENES SOMOS?</a> 
          </li>
          <li class="nav-item">
            <a  id="texto" class="nav-link" routerLink="/p-app-components-listado-mascota">ADOPTA TU MASCOTA</a> 
          </li>
          <li class="nav-item">
            <a id="texto" type="button"  class="nav-link" data-bs-toggle="modal" (click)="contacto()">
             CONTACTO
            </a>
          </li>
          <li class="nav-item">
            <a  id="texto" class="nav-link" routerLink="/p-app-components-donacion">AYUDALOS DONANDO</a> 
          </li>
        </ul>

      </div>
    </nav>
  </div>
</div>
 