@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


#contenedor{
    padding-bottom: 30px;
    background-color: #FCF8E8;
}

#texto{
    background-color: #DFDFDE!important;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
}

#buscador{
    background-color: #DFDFDE!important;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
}

#mascota{
    height: 320px;
}

/* Card Styles */


.card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

  
.card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}
.card::before {
    transform-origin: left top;
}
.card::after {
    transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
}




