<div class="container-fluid" id="contenedor">
  <br>
  <div class="container">


    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/img/slider01.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/slider02.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/slider03.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


    <div class="m-3">
      <h2 id="buscador" class="col-sm-10 col-md-3 col-lg-3 d-flex align-items-center justify-content-center m-auto ">Buscar por:</h2>
    </div>
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

      <div id="texto" class="col-sm-10 col-md-3 col-lg-3 d-flex align-items-center justify-content-center m-auto rounded-pill border-radius-sm " data-aos="zoom-in" data-aos-delay="200">
        <p class="p-2">Provincia</p>
        <select id="prov" name="prov" class="form-select" aria-label="Default select example" [(ngModel)]="prov" (ngModelChange)="filtrar()" > 
          <option *ngFor="let item of arrayProv" value={{item.provincia}}>{{item.provincia}} </option>
        </select>
      </div>
      <div id="texto" class="col-sm-10 col-md-3 col-lg-3 d-flex align-items-center justify-content-center m-auto rounded-pill" data-aos="zoom-in" data-aos-delay="200">
        <p class="p-2">Tamaño</p>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="tamanio" (ngModelChange)="filtrar()" > 
          <option value="pequeño">Pequeño</option>  
          <option value="mediano">Mediano</option>
          <option value="adulto">Adulto</option>
        </select>
      </div>
      <div id="texto" class="col-sm-10 col-md-3 col-lg-3 d-flex align-items-center justify-content-center m-auto rounded-pill" data-aos="zoom-in" data-aos-delay="200">
        <p class="p-2">Edad </p>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="edad" (ngModelChange)="filtrar()"> 
          <option value=1>Menor a 1 año</option>  
          <option value=2>Menor a 2 años</option>
          <option value=3>Menor a 3 años</option>
          <option value=4>Menor a 4 años</option>
          <option value=5>Mayor a 5 años</option>
        </select>
      </div>
    </div>

        <br>
        <div  class="container mt-2">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 " >
            <!-- Perritos -->
            <div class="col mb-4 " *ngFor="let item of arrayMascotas" routerLink="/p-app-components-mascota/{{item.id}}">
              <div class="card card-block ">
                <img id="mascota" src={{item.url_imagen}} class="card-img" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p class="card-text">{{item.raza}}, {{item.tamanio}}</p>
                  <p class="card-text">Meses: {{item.edad_actual_mes}}</p>
                  <p class="card-text">Organizacion: {{item.ONG}}</p>
                  <p class="card-text">Provincia: {{item.provincia}}</p>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
  </div>
</div>

